.nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    background-color: orange;
    height: 50px;
    border: solid;
}


.blackjackImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 200px;
}

.buttons {
    display: flex;
    justify-content:space-evenly;
    height: 30px;
}


.handDiv {
    height: 100px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 100px;
    margin-top: 50px;
    align-items: center;
}



.hands {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20px;
    
}